html, body {
    margin: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    display: flex;
    flex-direction: column;

}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 32px;
    font-weight: 900;
    height: 75px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 24px;
}
.hero{
    background-color: #1f2937;  
    display: flex;
    justify-content: space-around;


}
.hero.h1 ,.hero.h4 {
    color: white;


}
.herotext , .actiontext{
    color: white;
}
button{
    background: #3882F6;
    border: 1px solid #ddd;
    color: whitesmoke;
    padding: 8px 16px;
    border-radius: 8px;
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.arcs{
    display: flex;

}
.infoimg{
    height: 300px;
    width: 300px;
    margin: 24px;
    border: solid 5px black;
    border-radius: 10px;
}
.arc1 , .arc2 , .arc3 , .arc4{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.caps{
display: flex;
align-items: center;
justify-content: center;
background-color: #e5e7eb ;
height: 200px;
font-style: italic;
font-size: 36px;

}
.calltoaction{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;

}
.callbox{
    display: flex;
    height: 100px;
    width: 60%;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}
.footertext{
    color: #e5e7eb;
}